<?xml version="1.0"?>
<config>
    <modules>
    	<Zalw_Advancemsg>
    		<version>1.1.1</version>
    	</Zalw_Advancemsg>
    </modules>
    <admin>
	<routers>
		<advancemsg>
			<use>admin</use>
			<args>
				<module>Zalw_Advancemsg</module>
				<frontName>advancemsg</frontName>
			</args>
		</advancemsg>
	</routers>
    </admin>
    <adminhtml>
    	<menu>
		<advancemsg module="advancemsg">
			<title>Advanced Messages</title>
            		<sort_order>75</sort_order>
			<children>
				<index translate="title" module="advancemsg">
					<title>Send New Messages</title>
					<action>advancemsg/adminhtml_manage/new</action>
				</index>				
				<template translate="title" module="advancemsg">
					<title>Message Templates</title>
					<action>advancemsg/adminhtml_template/index</action>
				</template>
				<log translate="title" module="advancemsg">
					<title>My Message Box</title>
					<action>advancemsg/adminhtml_manage/log</action>
				</log>
			</children>
		</advancemsg>
	</menu>
    	<layout>
    		<updates>
    			<advancemsg>
    				<file>advancemsg.xml</file>
    			</advancemsg>
    		</updates>
    	</layout>
    </adminhtml>
    <frontend>
    	<routers>
    		<advancemsg>
    			<use>standard</use>
    			<args>
    				<module>Zalw_Advancemsg</module>
    				<frontName>advancemsg</frontName>
    			</args>
    		</advancemsg>
    	</routers>
    	<layout>
    		<updates>
    			<advancemsg>
    				<file>advancemsg.xml</file>
    			</advancemsg>
    		</updates>
    	</layout>
    </frontend>
    <global>
    	<helpers>
    		<advancemsg>
    			<class>Zalw_Advancemsg_Helper</class>
    		</advancemsg>
    	</helpers>
	<events>
<!--	    <admin_session_user_login_success>
		<observers>
		    <advancemsg>
			<type>singleton</type>
			<class>advancemsg/observer</class>
			<method>onadminloginusersuccess</method>
		    </advancemsg>
		</observers>
	    </admin_session_user_login_success>-->
	    <core_block_abstract_to_html_after>
		<observers>
		    <advancemsg>
			<type>singleton</type>
			<class>advancemsg/observer</class>
			<method>addButtonsHtml</method>
		    </advancemsg>
		</observers>
	    </core_block_abstract_to_html_after>
	</events>
    	<blocks>
    		<advancemsg>
    			<class>Zalw_Advancemsg_Block</class>
    		</advancemsg>
    	</blocks>
    	<models>
		<advancemsg>
			<class>Zalw_Advancemsg_Model</class>
			<resourceModel>advancemsg_mysql4</resourceModel>
		</advancemsg>
		<advancemsg_mysql4>
			<class>Zalw_Advancemsg_Model_Mysql4</class>
			<entities>
				<template>
					<table>advancemsg_template</table>
				</template>
				<content>
					<table>advancemsg_content</table>
				</content>
				<log>
					<table>advancemsg_log</table>
				</log>
				<customermsg>
					<table>advancemsg_customermsg</table>
				</customermsg>
			</entities>
		</advancemsg_mysql4>
	</models>
	<resources>
		<advancemsg_setup>
			<setup>
				<module>Zalw_Advancemsg</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</advancemsg_setup>
		<advancemsg_read>
			<connection>
				<use>core_read</use>
			</connection>
		</advancemsg_read>
		<advancemsg_write>
			<connection>
				<use>core_write</use>
			</connection>
		</advancemsg_write>
	</resources>
    </global>   
</config>
